@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #dde1e9;
}
h1 { color: red, white }
/* ********** */
/* SERVICIOS */
/* ********** */

.servicios{
    color: #fff;
    position: relative;
}
.servicios .contenido-seccion{
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(/img/fondo-servicios.jpg);
    background-size: cover;
    background-position: center center;
    margin: auto;
    padding: 0 20px;
}
.servicios .contenido-seccion .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 100px 0;
}
.servicios .contenido-seccion .fila .col{
    width: 50%;
}
.servicios .contenido-seccion .fila .col img{
    display: block;
    width: 50%;
    margin: auto;
}
.servicios .fila .col .contenedor-titulo{
    display: flex;
    align-items: center;
}
.servicios .fila .col .contenedor-titulo .numero{
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.servicios .fila .col .contenedor-titulo .info{
    margin-left: 30px;
}
.servicios .fila .col .contenedor-titulo .info .frase{
    color: #ff1133;
}
.servicios .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.servicios .fila .col p{
   margin-bottom: 10px;
   line-height: 34.5px;
}
.servicios .fila .col .p-especial{
    font-weight: bold;
}
.servicios .info-servicios{
    max-width: 800px;
    margin: auto;
}

.servicios .info-servicios h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.servicios .info-servicios p{
    line-height: 30px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background: #E63946;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
}
.btn:hover {
    background: #D62828;
}