
body {
    font-family: 'Barlow';
    margin: 0;
    padding: 0;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/contacto.jpg);
}
header {
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/contacto.jpg);
    text-align: center;
    padding: 20px 0;
    color: #fff;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/contacto.jpg);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    font-size: 1.1em;
}
input, textarea {
    width: 100%;
    padding: 7px;
    font-size: 1em;
    border: 2px solid #fff;
    border-radius: 5px;
}
button {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #fff;
}
iframe {
    width: 100%;
    height: 300px;
    border: none;
}